{# app/Resources/views/home/forms/orderForm.html.twig #}

{{ form_start(orderForm) }}
<div class="col s12 m6 grey darken-1" id="home_col_form">

    <div class="line_form">
        <h4 class="center">Date de votre venue</h4>
        <hr />
        {{ form_errors(orderForm.visitDate, {
            'attr': {
                'class': 'card bgRed center',
            }
        }) }}
        <div id="blockInfos" class="invisible">
            Il n'est pas possible de réserver des billets les mardis et dimanche.
        </div>
        {{ form_widget(orderForm.visitDate, {
            'attr': {
                'class': 'datepicker validate center-block',
                'onchange': 'isFullDayEnable()'
                    }
            })
        }}
    </div>
    <div class="line_form">
        <h4 class="center">Type de billet</h4>
        <hr />

        {{ form_errors(orderForm.ticketType, {
            'attr': {
                'class': 'card bgRed center',
            }
        }) }}
        <div class="col s12 center-align">
        {{ form_widget(orderForm.ticketType, {
            'attr': {
                'class': 'with-gap',
            }
        })
        }}
        </div>
    </div>
    <div class="line_form">
        <h4 class="center">Nombre de billet</h4>
        <hr />
        {{ form_errors(orderForm.ticketNumber, {
            'attr': {
                'class': 'card bgRed center',
            }
        }) }}
        <div class="col s12">
            {{ form_widget(orderForm.ticketNumber)
            }}
        </div>
    </div>
    <div class="line_form">
        <h4 class="center">Votre adresse mail</h4>
        <hr />
        {{ form_errors(orderForm.mailContact, {
            'attr': {
                'class': 'card bgRed center',
            }
        }) }}
        {{ form_widget(orderForm.mailContact, {
            'attr': {
                'class': 'validate center-block',
            }
        })
        }}
    </div>
    <div class="line_form">
        <div class="input-field center center-block">
        {{ form_widget(orderForm.suivant,{
            'attr': {
                'class': 'waves-effect btn bgBlue',
            }
        }) }}
        </div>
    </div>
</div>
{{ form_end(orderForm) }}

