<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vos billets pour le Louvre !</title>
</head>
<p><img src="{{ logo }}" alt="logo musée du louvre" /></p>

<p>Bonjour,</p>

<p>Vous venez de faira l'achats de tickets d'entrée pour le musée du Louvre et nous vous en remercions.</p>

<p>Récapitulatif de votre commande : </p>

<p>{{ order.ticketNumber }} billets {{ order.ticketType }} pour le {{ order.visitDate }}</p>
<p>----</p>
{% for ticket in order.tickets %}
    <p>{{ ticket.fname }} {{ ticket.name }} {{ ticket.country }} {{ ticket.birth|date("d/m/Y") : {{ ticket.price }}€ }}
        {% if ticket.discount %}<br />Un justificatif sera nécessaire pour valider l'entrée du musée {% endif %}
    </p>
{% endfor %}
<p>----</p>
<p>Pour un total de {{ order.totalPrice }}</p>

<p>Le numéro de réservation est le {{ order.bookingCode }}, il est nécessaire pour entrer dans le musée.</p>

<p></p>
<p>Cordialement,</p>
<p>L'équipe du musée.</p>




