{# app/Resources/views/home/index.html.twi #}

{% extends "base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="body" class="container grey lighten-1">
        <div class="row">
            {# form col #}
            {% include('home/forms/orderForm.html.twig') %}
            {# end form col #}

            {# images col, hidden on smartphones #}
            <div class="col hide-on-small-only m6" id="home_col_photos">
                <img src="{{ asset('images/ext.jpg') }}" alt="La pyramide du Louvre" class="responsive-img" />
                <img src="{{ asset('images/couloir.jpg') }}" alt="Un des couloirs d'exposition du musée" class="responsive-img" />
            </div>
            {# end images col #}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{  parent() }}
    <script src="{{ asset('js/datepicker.fr.js') }}"></script>
    <script src="{{ asset('js/date.js') }}"></script>
{% endblock javascripts %}


